SECURED_SIGNING_CLIENT_ID=
SECURED_SIGNING_CLIENT_SECRET=
SECURED_SIGNING_TOKEN_URL=https://api.securedsigning.com/oauth/token
SECURED_SIGNING_API_BASE=https://api.securedsigning.com
ARIEL_EMAIL=hari@upbuild.com
PORT=3000
